@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-regular-latin.woff2') format('woff2'); /* Super Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-600-latin.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-bold-latin.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-300.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-regular.woff2') format('woff2'); /* Super Modern Browsers */
  font-display: swap;
  font-weight: normal;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-500.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-600.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-600.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-bold.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-extra-bold.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'Darker Grotesque';
  src: url('/fonts/darker-grotesque-black.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 900;
  font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBM-Plex-Sans-200.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 200;
    font-display: swap;
}
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('/fonts/IBM-Plex-Sans-300.woff2') format('woff2'); /* Super Modern Browsers */
    font-weight: 300;
    font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM-Plex-Sans-500.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBM-Plex-Sans-600.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('/fonts/IBM-Plex-Mono-600.woff2') format('woff2'); /* Super Modern Browsers */
  font-weight: 600;
  font-display: swap;
}

.technicalsite-ibm-plex-btn,
.technicalsite-ibm-plex-btn {
  font-size: 14px;
  line-height: 150%;
}

.technicalsite-font-thin {
  font-weight: 300 !important;
}
.technicalsite-font-normal {
  font-weight: normal !important;
}
.technicalsite-font-500 {
  font-weight: 500 !important;
}
.technicalsite-font-600 {
  font-weight: 600 !important;
}
.technicalsite-font-bold {
  font-weight: bold !important;
}
.technicalsite-font-extra-700 {
  font-weight: 700 !important;
}
.technicalsite-font-extra-bold {
  font-weight: 800 !important;
}
.technicalsite-font-black {
  font-weight: 900 !important;
}
@media (min-width: 768px) and (max-width: 991px) {



}
@media (max-width: 767px) {



}
